
/*main part*/
.container{
 	  margin-left: auto;
	  margin-right: auto;
  	  width:70%;
}

/* buttons */

.white_color{
	background-color: Dodgerblue;
	padding-left:  200px;
}

/* Style buttons */
.btn {

  background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/icons/colorless.png");
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 3px 10px 5px 2px; /* Some padding */
  font-size: 16px; /* Set a font size */
  margin-left: 5px;
 /* cursor: pointer;  Mouse pointer on hover */
}


/* heading */
.black_color{
	background-color: Black;
	text-align: center;
	color: #f7d92e;
	font-size: 16px;
	height: 500px;
	width: 100%;
}



/*scene */




.scene {
  width: 200px;
  height: 200px;
  
 /* border: 1px solid #CCC;
  margin: 80px;*/
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}



.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  /*font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;*/
}


/*adding images */

.cube__face--right  { 
	background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/378.jpg"); }
.cube__face--back   { 
	 background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/382.jpg");}
.cube__face--left   { 
 background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/378.jpg");}
.cube__face--top    { 
	background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/376.jpg"); }
.cube__face--bottom { 
	background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/tile.jpg"); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}


















/* start expertipent */
.grey_color{
	background-color:#808080;
	text-align: center;
	color: White;
	font-size: 20px;
}
/*buttons and checkbox */
.whitesmoke_color{
	background-color: 	#F5F5F5;
	padding-left:  50px;
}
