@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css');
@import url("parameter.css");
/*@import url("graph.css");
/*main part*/
.container{
	margin-top: 30px;
 	align-self: center;
 	width:70%;

}

/* buttons */



/* Style buttons */

.btn {
	margin: 200px;
	background-color:#F5F5F5;
	border: none; /* Remove borders */
  	color: black; /* White text */
  	font-size: 26px; /* Set a font size */
   /* cursor: pointer;  Mouse pointer on hover */
}


/* heading */
.black_color{
	background-color: Black;
	text-align: center;
	color: #f7d92e;
	font-size: 16px;
	height: 500px;
	width: 100%;
  
}
.showresult{

  display: inline-block;
    height: 500px;
}


/*scene */


.scene {

  width: 100%;
  height: 460px;
  background-color: white;
  border: 2px solid red;
}



/* start expertipent */
.grey_color{
	background-color:#808080;
	text-align: center;
	color: White;
	font-size: 20px;
}
/*checkbox */
.check{
	display:inline-block;
	padding-left: 250px;
}
.parameters{
  display: none;
}

