@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css');

@import url("parameter.css");
/*@import url("graph.css");
/*main part*/
.container{
 	  margin-left: auto;
	  margin-right: auto;
  	  width:70%;

}

/* buttons */

.white_color{
	background-color:#F5F5F5;
	padding-left:  200px;
  
}

/* Style buttons */
.btn {

  background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/icons/colorless.png");
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 3px 10px 5px 2px; /* Some padding */
  font-size: 16px; /* Set a font size */
  margin-left: 5px;
 /* cursor: pointer;  Mouse pointer on hover */
}


/* heading */
.black_color{
	background-color: Black;
	text-align: center;
	color: #f7d92e;
	font-size: 16px;
	height: 500px;
	width: 100%;
  
}
.showresult{

  display: inline-block;
    height: 500px;
}


/*scene */

.box__face {
  position: absolute;
 
}
.scene {
  width: 600px;
  height: 300px;
  margin-left: 125px;
  margin-top: 75px;
  perspective: 200px;

}

.box {
  width: 300px;
  height: 600px;
  position: relative;
 
  
}

.box__face--front,
.box__face--back {
  width: 600px;
  height: 300px;
  
}

.box__face--right{
  width: 100px;
  height: 300px;
  left: 400px;
}
.box__face--left {
  width: 100px;
  height: 300px;
  left:100px;
  
}

.box__face--top
{
  width: 600px;
  height: 100px;
  top: 50px;
 
}
.box__face--bottom {
  width: 600px;
  height: 100px;
  top: 150px;
  
}

.box__face--right  { background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/378.jpg"); }
.box__face--back   {  background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/382.jpg"); }
.box__face--left   { background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/378.jpg"); }
.box__face--top    { background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/376.jpg");  }
.box__face--bottom { background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/images/tile.jpg");}

.box__face--front  { transform: rotateY(  0deg) translateZ( 50px); }
.box__face--back   { transform: rotateY(  0deg) translateZ( 50px); }/* changed roatation as it diplaying mirrord data*/

.box__face--right  { transform: rotateY( 90deg) translateZ(150px); }
.box__face--left   { transform: rotateY(-90deg) translateZ(150px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(100px); }







/* start expertipent */
.grey_color{
	background-color:#808080;
	text-align: center;
	color: White;
	font-size: 20px;
}
/*buttons and checkbox */
.whitesmoke_color{
	background-color: 	#F5F5F5;
	padding-left:  50px;
}
.parameters{
  display: none;
}
