@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css');
@import url("parameter.css");
/*@import url("graph.css");


/*main part*/
.container{
	margin-top: 30px;
 	margin-left: auto;
	margin-right: auto;
  	width:70%;

}

/* buttons */
.white_color{
	background-color:#F5F5F5;
	padding-left:  200px;  
}


/* Style buttons */
.btn {

  background-image: url("/home/user/hydraulics-and-fluid-mechanics-iiith/src/lab/exp8/SRIP/Libraries/resources/icons/colorless.png");
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 5px 10px 5px 2px; /* Some padding */
  font-size: 16px; /* Set a font size */
  margin-left: 5px;
 /* cursor: pointer;  Mouse pointer on hover */
}


/* heading */
.black_color{
	background-color: Black;
	text-align: center;
	color: #f7d92e;
	font-size: 16px;
	height: 500px;
	width: 100%;
  
}


.showresult{

  display: inline-block;
    height: 500px;
}


/*scene */
.scene {
  width: 100%;
  height: 460px;
  background-color: white;
  border: 2px solid red;
}

/*buttons and checkbox */
.whitesmoke_color{
	background-color: 	#F5F5F5;
	padding-left:  250px;
}

.parameters{
  display: none;
}
